################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*/**/bin/Debug
*/**/bin/Release
*/**/obj/Debug
*/**/obj/Release
*/**/x64/Debug
*/**/x64/Release
/x64/Debug/*
/x64/Release/*
/x64/Debug/SistemaBancarioBCPUPC.exe
/x64/Debug/SistemaBancarioBCPUPC.pdb
/SistemaB.E4E70A11/x64/Debug/SistemaB.E4E70A11.tlog/CL.command.1.tlog
/SistemaB.E4E70A11/x64/Debug/SistemaB.E4E70A11.tlog/Cl.items.tlog
/SistemaB.E4E70A11/x64/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cpp
/Debug/SistemaBancarioBCPUPC.pdb
/SistemaB.E4E70A11/Debug/SistemaB.E4E70A11.tlog/CL.command.1.tlog
/SistemaB.E4E70A11/Debug/SistemaB.E4E70A11.tlog/CL.read.1.tlog
/SistemaB.E4E70A11/Debug/SistemaB.E4E70A11.tlog/CL.write.1.tlog
/SistemaB.E4E70A11/Debug/SistemaB.E4E70A11.tlog/link.3424-cvtres.read.1.tlog
/SistemaB.E4E70A11/Debug/SistemaB.E4E70A11.tlog/link.3424-cvtres.write.1.tlog
/SistemaB.E4E70A11/Debug/SistemaB.E4E70A11.tlog/link.3424-rc.read.1.tlog
/SistemaB.E4E70A11/Debug/SistemaB.E4E70A11.tlog/link.3424-rc.write.1.tlog
/SistemaB.E4E70A11/Debug/SistemaB.E4E70A11.tlog/link.3424.read.1.tlog
/SistemaB.E4E70A11/Debug/SistemaB.E4E70A11.tlog/link.3424.write.1.tlog
/SistemaB.E4E70A11/Debug/SistemaB.E4E70A11.tlog/link.command.1.tlog
/SistemaB.E4E70A11/Debug/SistemaB.E4E70A11.tlog/link.read.1.tlog
/SistemaB.E4E70A11/Debug/SistemaB.E4E70A11.tlog/link.write.1.tlog
/SistemaB.E4E70A11/Debug/SistemaB.E4E70A11.tlog/metagen.read.1.tlog
/SistemaB.E4E70A11/Debug/SistemaB.E4E70A11.tlog/metagen.write.1.tlog
/SistemaB.E4E70A11/Debug/SistemaB.E4E70A11.tlog/rc.command.1.tlog
/SistemaB.E4E70A11/Debug/SistemaB.E4E70A11.tlog/rc.read.1.tlog
/SistemaB.E4E70A11/Debug/SistemaB.E4E70A11.tlog/rc.write.1.tlog
/SistemaB.E4E70A11/Debug/SistemaB.E4E70A11.tlog/SistemaBancarioBCPUPC.lastbuildstate
/SistemaB.E4E70A11/Debug/SistemaB.E4E70A11.tlog/unsuccessfulbuild
/SistemaB.E4E70A11/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cpp
/SistemaB.E4E70A11/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.obj
/SistemaB.E4E70A11/Debug/app.res
/SistemaB.E4E70A11/Debug/AssemblyInfo.obj
/SistemaB.E4E70A11/Debug/Canal.obj
/SistemaB.E4E70A11/Debug/Cliente.obj
/SistemaB.E4E70A11/Debug/Cola.obj
/SistemaB.E4E70A11/Debug/CuentaBancaria.obj
/SistemaB.E4E70A11/Debug/Lista.obj
/SistemaB.E4E70A11/Debug/ListaDeCanales.obj
/SistemaB.E4E70A11/Debug/ListaDeClientes.obj
/SistemaB.E4E70A11/Debug/ListaDeCuentasBancarias.obj
/SistemaB.E4E70A11/Debug/ListaDeTarjetas.obj
/SistemaB.E4E70A11/Debug/Nodo.obj
/SistemaB.E4E70A11/Debug/Operacion.obj
/SistemaB.E4E70A11/Debug/pch.obj
/SistemaB.E4E70A11/Debug/Sede.obj
/SistemaB.E4E70A11/Debug/SistemaBancarioBCPUPC.log
/SistemaB.E4E70A11/Debug/SistemaBancarioBCPUPC.obj
/SistemaB.E4E70A11/Debug/SistemaBancarioBCPUPC.pch
/SistemaB.E4E70A11/Debug/SistemaBancarioBCPUPC.vcxproj.AssemblyReference.cache
/SistemaB.E4E70A11/Debug/Tarjeta.obj
/SistemaB.E4E70A11/Debug/vc143.pdb
